.dashboard-header {
    text-align: center;
    padding: 30px 0 30px 0;
}

.header-title {
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: black;
    margin: auto;
}